
<section class="Dashboard ">
    <div>
        <div class="bg-light w-100"><img src="~/img/GPMA.webp" alt="GPMA"> </div>
        <ul>
            <a asp-controller="Questions" asp-action="Index">
            <li id="Quest"><i class="fa-solid fa-clipboard-question"></i>  الاسأله</li></a>           
            <a asp-controller="Sections" asp-action="Index">
            <li id="section"><i class="fa-solid fa-book"></i>  القسم</li></a>
            <a asp-controller="Roadmaps" asp-action="Index">

            <li id="RoadMap"><i class="fa-solid fa-map"></i>  خريطة الطريق</li></a>
            <a asp-controller="advices" asp-action="Index">
            <li id="Advice"><i class="fa-solid fa-comment-medical"></i>  نصيحة</li></a>
            
        </ul>
    </div>
</section>