@model AssessmentGPMAMVC.Models.UserAnswer

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UserAnswer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AttemptId" class="control-label"></label>
                <select asp-for="AttemptId" class ="form-control" asp-items="ViewBag.AttemptId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="QuestionId" class="control-label"></label>
                <select asp-for="QuestionId" class ="form-control" asp-items="ViewBag.QuestionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Answer" class="control-label"></label>
                <input asp-for="Answer" class="form-control" />
                <span asp-validation-for="Answer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fileURL" class="control-label"></label>
                <input asp-for="fileURL" class="form-control" />
                <span asp-validation-for="fileURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnsweredAt" class="control-label"></label>
                <input asp-for="AnsweredAt" class="form-control" />
                <span asp-validation-for="AnsweredAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
